h1 {
    color: aqua;
    background-color: black;
    font-size: 70px;
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    color: aliceblue;
    background-color: rgb(112, 30, 189);
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    font-style: italic;
    font-family: sans-serif;
    margin-bottom: auto;
    margin-top: auto;

}

h3 {
    color: rgb(80, 20, 136);
    background-color: #7ccae4;
    text-align: right;
    text-decoration: underline;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}