* {
    margin: 0;
    padding: 0;
}
.all{
    display:flex;
}
.ninjas{
    display:flex;
}
.end{
    display:flex;
}
.left, .right{
    margin:0;
    padding: 5px;
    flex: 1;
}
.header{
    width: 980px;
    margin: 0 auto;
    background-color: rgb(185, 183, 183);
    height: 65px;
    display: flex;
    align-items:center;
}
h1{
    margin: 20px;
    font-size: 40px;
    font-family:monospace;
}

.btn{
    height: 30px;
    width: 80px;
    color: aliceblue;
    background-color:rgb(17, 89, 223);
    box-shadow: 3px 3px black;
    margin-right: 30px;
}
.search{
    border: 2px;
    border-color: black;
    border-style: solid;
    margin:auto;
    align-items: center;
    width: 300px;
    height: 30px;
}



.ninja{
    height: 170px;
    width: 500px;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
    margin-left: 140px; 
}
h2{
    font-family:cursive;
    font-size: 30px;
    margin-left: 30px;
}
.noun{
    font-size: 20px;
    margin-left: 35px;
    font-style: italic;
    font-family:monospace;
}
.Pl{
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.ni{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.btnN{
    height: 30px;
    width: 85px;
    background-color:rgb(242, 197, 83);
    color: black;
    align-items:center ;
    box-shadow: 3px 2px black;
    margin: 10px;
    margin-top:0px;
    font-size: 18px;
}
.cen{
    margin-left: 100px;
    text-align: center;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.ninja2{
    height: 170px;
    width: 500px;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    
}
.Add{
    height: 200px;
    width: 250px;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
    margin:auto;
}
.btnD{
        height: 40px;
        width: 200px;
        background-color:rgb(108, 177, 83);
        color: black;
        align-items:center ;
        box-shadow: 3px 2px black;
        font-size: 18px;
        margin: 50px;
        margin-left: 20px;
}
.you{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
